a {
    text-decoration: none;
    color: red;
}

ul {
    list-style: none;
}

.links {
    display: flex;
    gap: 12px;
    align-self: flex-start;
    justify-content: flex-end;
    margin-right: 33px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.cardtainer{

}

.card{

}

.subtext {
    flex-wrap: wrap;
}